/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
}

/* Define the container for the page */
.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* 100% viewport height */
}

/* Style the navigation bar on the left */
.sidebar {
    color: cyan;
    width: 200px;
    padding: 20px;
}

.item1{
    background-color: #ff6600;
    padding: 20px;
    font-size: larger;
}

.item2{
    background-color: #ff6600;
    padding: 20px;
    font-size: larger;
}

.item3{
    background-color: #ff6600;
    padding: 20px;
    font-size: larger;
}

.item4{
    background-color: #ff6600;
    padding: 20px;
    font-size: larger;
}

/* Style the content on the right */
.content {
    flex: 1; /* Takes up remaining space */
    padding: 20px;
}

/* Style links in the navigation bar */
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Change link color on hover */
.sidebar a:hover {
    color: #cf0e58;
}
