table {
    width: 50%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #000;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}